a, a > code {
  color: rgb(45, 66, 188);
  text-decoration: none;
}

.remark-code-line-highlighted { background-color:#fdf7ef; }

.hljs-github .hljs {
    background: #fdf7ef;
}

.footnote {
    color: #888888;
    position: fixed;
    top: 85%;
    left: 0;
    text-align: right;
    width: 90%;
}

.remark-slide-content {
  background-color: #fdf7ef;
  color: #4C4B4C;
}

h1, h2, h3 {
  font-weight: normal;
  color: #4C4B4C;
}

.inverse {
  background-color: #23373B;
  text-shadow: none;
}

.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #AAA59F;
}

/* Add image and change bg color */
.title-slide {
  background-image: url(https://raw.githubusercontent.com/RushingLab/rushinglabslides/master/img/logo/usu-logo.png);
  background-position: 15% 15%;
  background-size: 200px;
  background-color: #fdf7ef;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}


/* H1 fonts */
.title-slide h1 {
  color: #0D395F; /* Middlebury blue */
  padding-top: 250px;
  font-weight: normal;
  font-size: 45px;
/*  line-height: 0.05;*/
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

/* H2 fonts */
.title-slide h2 {
  color: #4C4B4C; /* Middlebury grey accent 1 */
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  color: #AAA59F; /* Middlebury grey accent 2 */
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
}
